if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-4uK9fJ1/pY97mH/YyXFovfU8/Sg4y+7G6HqF8kYm+vY="
fi

use flake . --accept-flake-config
